{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["unused-imports","prettier", "effector", "react", "react-hooks"],
  "extends": ["prettier", "plugin:effector/recommended", "plugin:react/recommended", "plugin:react/jsx-runtime"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-shadow": "off",
    "no-useless-return": "warn",
    "arrow-body-style": ["error", "as-needed"],
    "import/extensions": "off",
    "import/no-cycle": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react/display-name": "off",
    "react/prop-types": "off",
    "react/jsx-no-undef": "off",
    "no-console": [
      "off",
      {
        "allowAsStatement": true
      }
    ],
    "no-debugger": "off",
    "no-return-assign": "off",
    "no-underscore-dangle": "off",
    "no-void": [
      "off",
      {
        "allowAsStatement": true
      }
    ],
    "prefer-arrow-callback": [
      "error",
      {
        "allowNamedFunctions": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "unused-imports/no-unused-imports": "error"
  }
}