{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "effector"],
  "extends": ["prettier", "plugin:effector/recommended"],
  "parserOptions": {

  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-shadow": "off",
    "import/extensions": "off",
    "import/no-cycle": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "sort-imports": "off",
    "no-console": ["off", { "allowAsStatement": true }],
    "no-debugger": "warn",
    "no-return-assign": "off",
    "no-underscore-dangle": "off",
    "no-void": ["off", { "allowAsStatement": true }],
    "prefer-arrow-callback": ["error", { "allowNamedFunctions": true }],
    "prettier/prettier": ["error", { "singleQuote": true }]
  }
}