:root {
  --cursor: 'default'
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  cursor: var(--cursor);

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #b6b6b6;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}

$font-family-base: 'Source Sans Pro';
$color1: #e15b64;
$color2: #f47e60;
$color3: #f8b26a;
$color4: #abbd81;
$color5: #1c7fa1;

$color6: #d9e8b5;
$color7: #98a773;

$form-feedback-invalid-color: $color2;
$progress-border-radius: 0;
$link-color: $color5;

$bezelLight: #fff;
$bezelDark: #ddd;
$info: #ababab;
$light: #efefef;


.bevel-bottom {
  border-bottom: 1px solid $bezelDark;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 1px;
    background-color: $bezelLight;
  }
}

.bevel-shadow {
  box-shadow: 0 -4px 5px #eee inset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.cursor-pointer {
  cursor: pointer;
}

.w-fit {
  width: fit-content;
}

input[required] + label:after {
  content: '*';
  color: $color1;
  font-weight: bold;
}

.scale-0 {
  transform: scale(0, 0);
}

.fs-small {
  font-size: 75%;
}

.input-spacer {
  height: 32px;
}

.thin {
  font-weight: 300;
}

.thick {
  font-weight: 600;
}

.focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

*:focus {
  position: relative;
  outline: none;

  &:before {
    content: '';
    position: absolute;
    border: 1px dotted #999;
    border-radius: 4px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.rotate {
  transition: all 0.2s ease-in-out;
  transform-origin: center;

  &.deg90 {
    transform: rotate(90deg);
  }
}

.selectedNode {
  background-color: #d9e8b5;
  border-radius: 4px;
}

.fieldset {
  padding: 1rem 0 1rem 0;
  border-top: 1px dotted $bezelDark;
  position: relative;

  &:before {
    position: absolute;
    font-family: $font-family-base;
    background-color: white;
    content: attr(title);
    top: -9px;
    left: 6px;
    z-index: 1;
    font-size: 0.7rem;
    padding: 0 3px;
    color: #999;
  }
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
}

.datepicker-open {
  overflow: hidden;
  padding-right: 7px;
}

@import "~bootstrap/scss/bootstrap";
@import "./css/tooltip";
