body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

$color1: #e15b64;
$color2: #f47e60;
$color3: #f8b26a;
$color4: #abbd81;
$color5: #1c7fa1;

$form-feedback-invalid-color: $color2;
$progress-border-radius: 0;
$link-color: $color5;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

.w-fit {
  width: fit-content;
}

.icon-xs {
  width: 16px;
  height: 16px;
}

.icon-sm {
  width: 25px;
  height: 25px;
}

.icon {
  width: 40px;
  height: 40px;
}

.icon-lg {
  width: 64px;
  height: 64px;
}

input[required] + label:after {
  content: '*';
  color: $color1;
  font-weight: bold;
}

.fs-small {
  font-size: 75%;
}

@import "~bootstrap/scss/bootstrap";